/target
/user.properties
/.git
/.metadata
/*/.project
/.project
/*/.classpath
/*/target
/*/.settings
/*/bin
/.project
/**/*.iml
.idea/
.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
.brackets.json
/deploy.sh
.idea/*
./settings/*
/.settings/*
.classpath
.settings
.settings/*
bin/*
bin
